.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 2px 8px 0px rgba(00, 00, 00, .1352);
  background-color: #fffafa;
  transition: transform 400ms ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  // .product-card__main
  &__main {
    padding: 3.1rem 2.49rem 2.2rem 2.372rem;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  // .product-card__price
  &__price {
    color: #2C2C2C;
    font-size: 1.8rem;
    line-height: 2.1rem;
  }

  // .product-card__btn
  &__btn {
    background-color: rgb(218, 218, 218);

    &:last-of-type {
      background-color: #fffafa;
      color: #2C2C2C;
      border: 1px solid #2c2c2c32;
    }

    &:first-of-type {
      border-radius: 0;
    }

    &:last-of-type {
      border-radius: 0;
    }
  }

  // .product-card__btns
  &__btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: 1200px) {
      grid-template-columns: 100%;
    }
  }

  // .product-card__description
  &__description {
    h3 {
      color: #2C2C2C;
      line-height: 1.9rem;
      font-size: 1.6rem;
      margin-bottom: .3rem;
      font-weight: 400;
    }

    p {
      font-weight: 300;
      font-size: 1.2rem;
      line-height: 1.4rem;
      color: #2C2C2C;
    }
  }

  // .product-card__rating
  &__rating {
    padding: .6rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 6.4rem;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #fffafa;

    span {
      color: #fff;
      font-size: 1.4rem;
      line-height: 1.7rem;
    }
  }

  // .product-card__wr
  &__wr {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
    justify-content: flex-end;
  }

  // .product-card__img
  &__img {
    margin-bottom: 3.2rem;
    display: flex;
    position: relative;
    width: 100%;
    padding-bottom: 79.5%;
    justify-content: center;

    img {
      position: absolute;
      left: 50%;
      min-width: 50%;
      max-height: 100%;
      max-width: 100%;
      top: 0;
      transform: translateX(-50%);
      object-fit: contain;
    }
  }

  // // .product-card--with-rating
  // &--with-rating {
  //   .product-card__wr {
  //     justify-content: space-between;
  //   }
  // }
}