.sidebar {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 720px) {
    display: none;
  }

  h3 {
    color: #2c2c2c;
    margin-bottom: 2rem;
    text-transform: capitalize;
  }

  // .sidebar__form
  &__form {
    height: fit-content;
    border-radius: 8px;
    padding: 3.2rem;
    margin-bottom: 4rem;
    box-shadow: 0px 2px 8px 0px rgba(00, 00, 00, .1352);
    background-color: rgb(218, 218, 218);

    @media screen and (max-width: 1200px) {
      padding: 2rem;
    }
  }

  // .sidebar__head
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .4rem;

    h3 {
      color: #fff;
    }
  }

  // .sidebar__filter
  &__filter {
    padding-top: 3.6rem;
    border-top: 1px solid #D6D6D6;
    margin-bottom: 2.8rem;

    &:first-of-type {
      padding-top: 0;
      border-top: none;
    }
  }
}